.textInput {
    flex: 66%;
}

.radioGroup [role="radiogroup"] {
    gap: var(--mantine-spacing-xs);
    display: grid;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-lg)
}

.submitButton {
    align-self: center;
    min-width: 50%
}